.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
    background-color: #f0070b;
    color: #fffffd;
    font-weight: bold;
    text-align: center;
}

.rounded-xl {
    border-radius: 1rem !important;
}

.layout-fixed .main-sidebar {
   height:  calc(100vh - 40px);
   margin-left: 25px;
}

.content-wrapper {
    background-color: #ffffff;
}

.content-wrapper>.content {
    padding: 1rem;
    background-color: #e9f3f4;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: none;
}

@media (min-width: 768px) {
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        transition:margin-left .3s ease-in-out;
        margin-left: 300px
    }
}

.bg-c1 {
    background: #f0f4f7;
}
.bg-c2 {
    background: #f5f5f5!important;
}
.cbg-white.btn:hover {
    border-color: white;
}
.mr-40 {
    margin-right: 40%;
}
.c-badge {
    padding-top: 12px;
    padding-bottom: 6px;
    background: #eaf2ff;
}
.c-badge1 {
    padding: 10px 6px;
    background: #f8ecd7;
    color: #ecbe36;
}
.c-badge2 {
    padding: 10px 6px;
    background: #d1e8e7;
    color: #41ca76;
}
.c-badge3 {
    padding: 10px 6px;
    background: #e9def6;
    color: #b26cf6;
}
.c-badge4 {
    padding: 10px 6px;
    background: #dce1eb;
    color: #67778e;
}
.bg-light-oren {
    background: #faf4ef!important;
}
.bg-light-green {
    background: #e8f3f4!important;
}
.bg-light-purple {
    background: #f0ecf6!important;
}
.bg-light-blue {
    background: #eaedf6!important;
}
.c-badge-small {
    background: #b2debb;
    padding: 0px 5px 3px 5px;
}
.bg-white.btn.active, .bg-white.btn:active, .bg-white.btn:not(:disabled):not(.disabled).active, .bg-white.btn:not(:disabled):not(.disabled):active {
    background-color: white !important;
    border-color: white!important;
    color: #007BFF!important;
}
.bg-white.btn:hover{
    background-color: white !important;
    border-color: white!important;
    color: #007BFF!important;
}