a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.unlink  a,
.unlink  a:hover {
    text-decoration: none;
    color: inherit;
}

th.padat,
td.padat {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

td.aksi {
    width: 1%;
    white-space: nowrap;
    text-align: left;
}

td.details-control {
    background: url(/assets/costume/img/details_open.png) no-repeat center center;
    cursor: pointer;
    width: 30px;
    transition: .5s;
}

tr.shown td.details-control {
    background: url(/assets/costume/img/details_close.png) no-repeat center center;
    width: 30px;
    transition: .5s;
}

.img-cover{
    height: 100px;
    object-fit: cover;
}

.w-40 {
    width: 40%!important;
}

.w-42 {
    width: 42%!important;
}

.w-80 {
    width: 80%!important;
}

.w-56px {
    width: 56px!important;
}

.w-70px {
    width: 70px!important;
}

.w-100px {
    width: 100px!important;
}

.select2-container .select2-selection--single {
    height: 35px;
}

.width-1 {
    width: 1%
}

.width-2 {
    width: 2%
}

.width-3 {
    width: 3%
}

.width-4 {
    width: 4%
}

.width-5 {
    width: 5%
}

.width-6 {
    width: 6%
}

.width-7 {
    width: 7%
}

.width-8 {
    width: 8%
}

.width-9 {
    width: 9%
}

.width-10 {
    width: 10%
}

.width-11 {
    width: 11%
}

.width-12 {
    width: 12%
}

.width-13 {
    width: 13%
}

.width-14 {
    width: 14%
}

.width-15 {
    width: 15%
}

.width-16 {
    width: 16%
}

.width-17 {
    width: 17%
}

.width-18 {
    width: 18%
}

.width-19 {
    width: 19%
}

.width-20 {
    width: 20%
}

.width-21 {
    width: 21%
}

.width-22 {
    width: 22%
}

.width-23 {
    width: 23%
}

.width-24 {
    width: 24%
}

.width-25 {
    width: 25%
}

.width-26 {
    width: 26%
}

.width-27 {
    width: 27%
}

.width-28 {
    width: 28%
}

.width-29 {
    width: 29%
}

.width-30 {
    width: 30%
}

.width-31 {
    width: 31%
}

.width-32 {
    width: 32%
}

.width-33 {
    width: 33%
}

.width-34 {
    width: 34%
}

.width-35 {
    width: 35%
}

.width-36 {
    width: 36%
}

.width-37 {
    width: 37%
}

.width-38 {
    width: 38%
}

.width-39 {
    width: 39%
}

.width-40 {
    width: 40%
}

.width-41 {
    width: 41%
}

.width-42 {
    width: 42%
}

.width-43 {
    width: 43%
}

.width-44 {
    width: 44%
}

.width-45 {
    width: 45%
}

.width-46 {
    width: 46%
}

.width-47 {
    width: 47%
}

.width-48 {
    width: 48%
}

.width-49 {
    width: 49%
}

.width-50 {
    width: 50%
}

.width-51 {
    width: 51%
}

.width-52 {
    width: 52%
}

.width-53 {
    width: 53%
}

.width-54 {
    width: 54%
}

.width-55 {
    width: 55%
}

.width-56 {
    width: 56%
}

.width-57 {
    width: 57%
}

.width-58 {
    width: 58%
}

.width-59 {
    width: 59%
}

.width-60 {
    width: 60%
}

.width-61 {
    width: 61%
}

.width-62 {
    width: 62%
}

.width-63 {
    width: 63%
}

.width-64 {
    width: 64%
}

.width-65 {
    width: 65%
}

.width-66 {
    width: 66%
}

.width-67 {
    width: 67%
}

.width-68 {
    width: 68%
}

.width-69 {
    width: 69%
}

.width-70 {
    width: 70%
}

.width-71 {
    width: 71%
}

.width-72 {
    width: 72%
}

.width-73 {
    width: 73%
}

.width-74 {
    width: 74%
}

.width-75 {
    width: 75%
}

.width-76 {
    width: 76%
}

.width-77 {
    width: 77%
}

.width-78 {
    width: 78%
}

.width-79 {
    width: 79%
}

.width-80 {
    width: 80%
}

.width-81 {
    width: 81%
}

.width-82 {
    width: 82%
}

.width-83 {
    width: 83%
}

.width-84 {
    width: 84%
}

.width-85 {
    width: 85%
}

.width-86 {
    width: 86%
}

.width-87 {
    width: 87%
}

.width-88 {
    width: 88%
}

.width-89 {
    width: 89%
}

.width-90 {
    width: 90%
}

.width-91 {
    width: 91%
}

.width-92 {
    width: 92%
}

.width-93 {
    width: 93%
}

.width-94 {
    width: 94%
}

.width-95 {
    width: 95%
}

.width-96 {
    width: 96%
}

.width-97 {
    width: 97%
}

.width-98 {
    width: 98%
}

.width-99 {
    width: 99%
}

.width-100 {
    width: 100%
}

.width-10p {
    width: 10px
}

.width-20p {
    width: 20px
}

.width-30p {
    width: 30px
}

.width-40p {
    width: 40px
}

.width-50p {
    width: 50px
}

.width-60p {
    width: 60px
}

.width-70p {
    width: 70px
}

.width-80p {
    width: 80px
}

.width-90p {
    width: 90px
}

.width-100p {
    width: 100px
}

.font-size-10 {
    font-size: 10%
}

.font-size-20 {
    font-size: 20%
}

.font-size-30 {
    font-size: 30%
}

.font-size-40 {
    font-size: 40%
}

.font-size-50 {
    font-size: 50%
}

.font-size-60 {
    font-size: 60%
}

.font-size-70 {
    font-size: 70%
}

.font-size-80 {
    font-size: 80%
}

.font-size-90 {
    font-size: 90%
}

.font-size-100 {
    font-size: 100%
}

.pl-50 {
    padding-left: 50px
}

/* Add padding left for nested submenu levels */
.nav-treeview .nav-treeview {
    padding-left: 5px !important;
}
.nav-treeview .nav-item {
    padding-left: 5px !important;
}

.has-treeview .has-treeview {
    padding-left: 5px !important;
}