td.details-control {
    background: url(/assets/img/details_open.png) no-repeat center center;
    cursor: pointer;
    width: 30px;
    transition: .5s;
}

tr.shown td.details-control {
    background: url(/assets/img/details_close.png) no-repeat center center;
    width: 30px;
    transition: .5s;
}

.w-56px {
    width: 56px!important;
}
.w-40 {
    width: 40%!important;
}
.w-42 {
    width: 42%!important;
}
